ion-view(view-title="Home")
  ion-content.padding
    h1.text-center Welcome
    br
    .text-center
      button.button.button-block.button-positive(ui-sref='run') Go Running
      button.button.button-block.button-positive(ui-sref='find') Find My Ghost Runner
      button.button.button-block.button-positive(ui-sref='settings') Settings
