ion-view#landing(view-title="Back" hide-nav-bar="true")
  ion-content.padding
    .flex-center-fullscreen.text-center
      div
        h1.text-center Ghost Runner
        p Live fast.
        br
        .list
          label.item.item-input
            input(type='text' placeholder='Email')
          label.item.item-input
            input(type='password' placeholder='Password')
        button.button.button-block.button-positive(ui-sref='home') Log In
