ion-view(view-title="Music")
  ion-content.padding
    h1.text-center Choose Music Source
    br
    .text-center
      button.button.button-block.button-positive Your Library
      button.button.button-block.button-positive Apple Music
      button.button.button-block.button-positive Spotify
      button.button.button-block.button-positive Pandora

