ion-view(view-title="Route")
  ion-content.padding
    h1.text-center Choose Route Mode
    br
    .text-center
      button.button.button-block.button-positive Follow Line
      button.button.button-block.button-positive Google Maps
      p Will stop at intersections and wait for you, then will follow you across the intersection
