ion-view(view-title="Run Details")
  ion-content.padding
    h1.text-center Set Run Mode
    br
    .text-center
      button.button.button-block.button-positive(ui-sref='pace') Set Pace
      button.button.button-block.button-positive(ui-sref='route') Set Route Mode
      button.button.button-block.button-positive(ui-sref='music') Set Music Source
      button.button.button-block.button-calm Start Run!
