ion-view(view-title="Settings")
  ion-content.padding
    h1.text-center Settings
    .list
      label.item.item-input.item-select
        .input-label Motivational Voice
        select
          option Michael
          option Lisa
